---
import Layout from '../../layouts/Page.astro';
import BlogPostPreview from '../../components/BlogPostPreview.astro';
import Paginator from '../../components/Paginator.astro'
  
  
export async function getStaticPaths({paginate}) {

  const posts = await Astro.glob('./*.md').then(posts =>
	posts
		.map(({ frontmatter, url }) => ({
      url: url,
			title: frontmatter.title,
			description: frontmatter.description,
			publishDate: frontmatter.publishDate,
			// image: frontmatter.image,
		}))
		// .sort((a, b) => {
		// 	new Date(b.publishDate) - new Date(a.publishDate)
		// })
);
return paginate(posts, {pageSize: 10});


}

const seo = {
  title: 'Posts',
  description: 'Posts, essays, diaries, news and tutorials by tjex'
}

const { page } = Astro.props;
---


<Layout seo={seo} >
    <article class="blog-page-content__article">
      <section class="postlist">
        {page.data.map((post: any) => <BlogPostPreview post={post} />)}
      </section>
    </article>
    <Paginator page={page}/>
</Layout>

<style>
 /* Posts list */
  .postlist {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    list-style: none;
  }
    
  @media screen and (max-width: 769px) {
    .postlist {
      grid-template-columns: 1fr;
    }
  }
</style>
