---
// tjex.net/blog (display of all blog posts)

import Layout from "../../layouts/Page.astro";
import BlogPostPreview from "../../components/BlogPostPreview.astro";
import Paginator from "../../components/Paginator.astro";
import * as colUtil from "../../scripts/collectionUtil.ts";

export async function getStaticPaths({ paginate }) {
    const entries = await colUtil.noDrafts("blog").then((entries) =>
        entries
            .map((entry: any) => ({
                slug: entry.slug,
                title: entry.data.title,
                description: entry.data.description,
                pubDate: entry.data.pubDate,
            }))
            .sort((a, b) => new Date(b.pubDate) - new Date(a.pubDate)),
    );
    return paginate(entries, { pageSize: 10 });
}


const seo = {
    title: "Blog",
    description:
        "Blog posts, essays, diaries, news and tutorials by tjex (Tillman Jex)",
};

const { page } = Astro.props;
---

<Layout seo={seo}>
    <h1>Blog</h1>
    <section class="postlist">
        {page.data.map((entry: any) => <BlogPostPreview entry={entry} />)}
    </section>
    <Paginator page={page} />
</Layout>
