---
import Layout from "../../layouts/Page.astro";
import PostList from "../../components/PostList.astro";
import TagsUnique from "../../components/TagsUnique.astro";
import Paginator from "../../components/Paginator.astro";
import * as colUtil from "../../scripts/collectionUtil.ts";

export async function getStaticPaths({ paginate }) {
    const posts = await colUtil.noDrafts("posts").then((posts) =>
        posts
            .map((post: any) => ({
                slug: post.slug,
                title: post.data.title,
                description: post.data.description,
                tags: post.data.tags,
                arvDate: post.data.arvDate,
                pubDate: post.data.pubDate,
            }))
            .sort((a, b) => new Date(b.pubDate) - new Date(a.pubDate)),
    );
    return paginate(posts, { pageSize: 15 });
}

const seo = {
    title: "Blog",
    description: "Blog posts, essays, diaries, news and tutorials by tjex (Tillman Jex)",
};

const { page } = Astro.props;
---

<Layout seo={seo}>
    <h1>blog</h1>
    <p>
        Time here is measured in <a href="https://wiki.xxiivv.com/site/arvelie.html">Arvelie time</a>. Year 0 in my case
        is 2020. <br /> Posts are ordered chronologically, newest to oldest, you can also <a href="/tags"
            >filter by tags</a
        >.
    </p>
    <table>
        <tbody>
            {page.data.map((post: any) => <PostList post={post} collection={"posts"} />)}
        </tbody>
    </table>
    <Paginator page={page} />
</Layout>
