---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Page.astro';
import BlogPostPreview from '../../components/BlogPostPreview.astro';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');

  return blogEntries.map((entry) => {
    const { data, url } = entry;
    const post = {
      url: url,
      title: data.title,
      description: data.description,
      publishDate: data.pubDate,
    };

    return {
      params: { slug: data.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;

const seo = {
  title: 'Posts',
  description: 'Posts, essays, diaries, news and tutorials by tjex',
};
---

<Layout seo={seo}>
  <article class="blog-page-content__article">
    <section class="postlist">
      <BlogPostPreview post={post} />
    </section>
  </article>
</Layout>

