---
import Layout from "../../layouts/Page.astro";
import PostList from "../../components/PostList.astro";
import TagsUnique from "../../components/TagsUnique.astro";
import Paginator from "../../components/Paginator.astro";
import * as colUtil from "../../scripts/collectionUtil.ts";
import type { GetStaticPaths } from "astro";

export async function getStaticPaths({ paginate }) {
    const posts = await colUtil.noDrafts("blog").then((posts) =>
        posts
            .map((post: any) => ({
                slug: post.slug,
                title: post.data.title,
                description: post.data.description,
                tags: post.data.tags,
                arvDate: post.data.arvDate,
                pubDate: post.data.pubDate,
            }))
            .sort((a, b) => new Date(b.pubDate) - new Date(a.pubDate)),
    );
    return paginate(posts, { pageSize: 15 });
}

const seo = {
    title: "Blog",
    description: "Blog posts, essays, diaries, news and tutorials by tjex (Tillman Jex)",
};

const { page } = Astro.props;
---

<Layout seo={seo}>
    <h1>Blog</h1>
    <p>
        <TagsUnique collection={"blog"} style={"pill"} />
    </p>
    <table>
        <tbody>
            {page.data.map((post: any) => <PostList post={post} collection={"blog"} />)}
        </tbody>
    </table>
    <Paginator page={page} />
</Layout>
