---
import Layout from '../../layouts/Page.astro';
import BlogPostPreview from '../../components/BlogPostPreview.astro';
import Paginator from '../../components/Paginator.astro'
import { getCollection } from 'astro:content';
  
  
export async function getStaticPaths({paginate}) {

    const posts = await getCollection('blog').then(posts =>
	posts
		.map(({ data, url, slug }) => ({
            url: url,
            slug: slug,
			title: data.title,
			description: data.description,
			pubDate: data.pubDate,
		}))
);
return paginate(posts, {pageSize: 10});


}

const seo = {
  title: 'Blog',
  description: 'Blog posts, essays, diaries, news and tutorials by tjex / Tillman Jex'
}

const { page } = Astro.props;
---


<Layout seo={seo} >
    <article class="blog-page-content__article">
      <section class="postlist">
        {page.data.map((post: any) => <BlogPostPreview post={post} />)}
      </section>
    </article>
    <Paginator page={page}/>
</Layout>


