---
import Layout from '../../layouts/Page.astro';
import BlogPostPreview from '../../components/BlogPostPreview.astro';
import { getCollection } from 'astro:content';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
const seo = {
  title: 'Posts',
  description: 'Posts, essays, diaries, news and tutorials by tjex',
};
---
<Layout seo={seo}>
<h1>{entry.data.title}</h1>
  <article class="blog-page-content__article">
    <section class="postlist">
    <Content />
    </section>
  </article>
</Layout>
