---
import Layout from "../../layouts/Page.astro";
import BlogPostPreview from "../../components/BlogPostPreview.astro";
import Paginator from "../../components/Paginator.astro";
import * as colUtil from "../../scripts/collectionUtil.js";

export async function getStaticPaths({ paginate }) {
    const posts = await colUtil.noDrafts("blog").then((posts) =>
        posts
            .map((post: any) => ({
                slug: post.slug,
                title: post.data.title,
                description: post.data.description,
                pubDate: post.data.pubDate,
            }))
            .sort((a, b) => new Date(b.pubDate) - new Date(a.pubDate)),
    );
    return paginate(posts, { pageSize: 10 });
}

const seo = {
    title: "Blog",
    description:
        "Blog posts, essays, diaries, news and tutorials by tjex (Tillman Jex)",
};

const { page } = Astro.props;
---

<Layout seo={seo}>
    <h1> Blog </h1>
    <!-- <article class="blog-page-content__article"> -->
    <section class="postlist">
        {page.data.map((post: any) => <BlogPostPreview post={post} />)}
    </section>
    <!-- </article> -->
    <Paginator page={page} />
</Layout>
