<head>
  <title>TJEX - {% if page.title %}{{ page.title }}{% else %}Toronto Japanese Exchange{% endif %}</title>
  {% if page.description or site.description %}
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{site.description }}{% endif %}">
  {% endif %}

  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- style/fonts -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>
