// Black & White
$white: #fff;
$black: #000;

// Red (primary)
$red-hue: 0 !default;
$red-light: hsl($red-hue, 20%, 74%) !default;
$red-medium: hsl($red-hue, 30%, 54%) !default;
$red-dark: hsl($red-hue, 45%, 13%) !default;

// Amber
$amber-hue: 20 !default;
$amber-light: hsl($amber-hue, 20%, 70%) !default;
$amber-medium: hsl($amber-hue, 12%, 60%) !default;
$amber-dark: hsl($amber-hue, 12%, 50%) !default;

// Grey
$grey-hue: 205 !default;
$grey-50: hsl($grey-hue, 20%, 90%) !default;
$grey-100: hsl($grey-hue, 18%, 80%) !default;
$grey-200: hsl($grey-hue, 16%, 70%) !default;
$grey-300: hsl($grey-hue, 14%, 60%) !default;
$grey-400: hsl($grey-hue, 12%, 50%) !default;
$grey-500: hsl($grey-hue, 10%, 40%) !default;
$grey-600: hsl($grey-hue, 10%, 30%) !default;
$grey-700: hsl($grey-hue, 10%, 20%) !default;
$grey-800: hsl($grey-hue, 15%, 15%) !default;
$grey-900: hsl($grey-hue, 10%, 10%) !default;

// blue
$blue-hue: 210 !default;
$blue-light: hsl($blue-hue, 50%, 80%) !default;
$blue-medium: hsl($blue-hue, 35%, 55%) !default;
$blue-dark: hsl($blue-hue, 20%, 40%) !default;

// Green
$green-hue: 125 !default;
$green-light: hsl($green-hue, 55%, 21%) !default;
$green-medium: hsl($green-hue, 70%, 22%) !default;
$green-dark: hsl($green-hue, 75%, 13%) !default;

$purple-hue: 269 !default;
$purple-light: hsl($purple-hue, 40%, 70%) !default;
$purple-medium: hsl($purple-hue, 45%, 60%) !default;
$purple-dark: hsl($purple-hue, 80%, 50%) !default;
