---
import tjex from "../../data/tjex.js";
import TagsUnique from "../../components/TagsUnique.astro";
import Layout from "../../layouts/Page.astro";
import PostList from "../../components/PostList.astro";
import Paginator from "../../components/Paginator.astro";
import * as colUtil from "../../scripts/collectionUtil.ts";

export async function getStaticPaths({ paginate }) {
    const posts = await colUtil.noDrafts("hacks").then((posts) =>
        posts
            .map((post: any) => ({
                slug: post.slug,
                title: post.data.title,
                description: post.data.description,
                tags: post.data.tags,
                pubDate: post.data.pubDate,
            }))
            .sort((a, b) => new Date(b.pubDate) - new Date(a.pubDate)),
    );
    return paginate(posts, { pageSize: 15 });
}

const seo = {
    title: "Hacks",
    description:
        "Collection of hacks, configs, scripts and setups to help make you more productive and / or impress your manager",
};

const { page } = Astro.props;
---

<Layout seo={seo}>
    <h1>Hacks</h1>
    <p>
        Here you can find some hacks, configs, scripts and setups I feel are worth documenting.<br />
        Usually because I couldn't find a solution to a problem I had, or I did find a solution and improved it. For reference,
        here are my dotfiles on <a href="https://git.sr.ht/~tjex/dotfiles" rel="me">Sourcehut</a> and <a
            href="https://github.com/tjex/dotfiles"
            rel="me">Github</a
        > (mirrored).
    </p>
    <p>
        <TagsUnique collection={"hacks"} style={"pill"} />
    </p>
    <table>
        <tbody>
            {page.data.map((post: any) => <PostList post={post} collection={"hacks"} />)}
        </tbody>
    </table>
    <Paginator page={page} />
</Layout>
