---
import tjex from "../../data/tjex.js";
import TagsUnique from "../../components/TagsUnique.astro";
import Layout from "../../layouts/Page.astro";
import HackPreview from "../../components/HackPreview.astro";
import Paginator from "../../components/Paginator.astro";
import * as colUtil from "../../scripts/collectionUtil.ts";

export async function getStaticPaths({ paginate }) {
    const entries = await colUtil.noDrafts("hacks").then((entries) =>
        entries
            .map((entry: any) => ({
                slug: entry.slug,
                title: entry.data.title,
                description: entry.data.description,
                tags: entry.data.tags,
                pubDate: entry.data.pubDate,
            }))
            .sort((a, b) => new Date(b.pubDate) - new Date(a.pubDate)),
    );
    return paginate(entries, { pageSize: 10 });
}

const seo = {
    title: "Hacks",
    description:
        "Collection of hacks, configs, scripts and setups to help make you more productive and / or impress your manager",
};

const { page } = Astro.props;
---

<Layout seo={seo}>
    <h1> Hacks </h1>
    <p> Here you can find some hacks, configs, scripts and setups I think are worth filling servers with. <br> To see how my computer will suddenly erupt in flames, check my <a rel="me" href=`${tjex.dotfiles}`>dotfiles</a>. </p>
        <div class="post-info">
            View by tag: <TagsUnique collection={"hacks"} />
        </div>
    <section class="postlist-single">
        {page.data.map((entry: any) => <HackPreview entry={entry} />)}
    </section>
    <Paginator page={page} />
</Layout>

