---
import Layout from "../../layouts/Page.astro";
import HackPreview from "../../components/HackPreview.astro";
import Paginator from "../../components/Paginator.astro";
import * as colUtil from "../../components/utility/collectionUtil.js";

export async function getStaticPaths({ paginate }) {
    const hacks = await colUtil.noDrafts("hacks").then((hacks) =>
        hacks
            .map((hack: any) => ({
                slug: hack.slug,
                title: hack.data.title,
                description: hack.data.description,
                tags: hack.data.tags,
            }))
            .sort((a, b) => new Date(b.pubDate) - new Date(a.pubDate)),
    );
    return paginate(hacks, { pageSize: 10 });
}

const seo = {
    title: "Hacks",
    description:
        "Collection of hacks, configurations, functions, and other tips and tricks that I've personally found to be useful",
};

const { page } = Astro.props;
---

<Layout seo={seo}>
    <h1> Hacks </h1>
    <section class="postlist">
        {page.data.map((hack: any) => <HackPreview hack={hack} />)}
    </section>
    <Paginator page={page} />
</Layout>

