---
import Layout from "../../layouts/Page.astro";
import HackPreview from "../../components/HackPreview.astro";
import Paginator from "../../components/Paginator.astro";
import * as colUtil from "../../scripts/collectionUtil.ts";

export async function getStaticPaths({ paginate }) {
    const entries = await colUtil.noDrafts("hacks").then((entries) =>
        entries
            .map((entry: any) => ({
                slug: entry.slug,
                title: entry.data.title,
                description: entry.data.description,
                tags: entry.data.tags,
            }))
            .sort((a, b) => new Date(b.pubDate) - new Date(a.pubDate)),
    );
    return paginate(entries, { pageSize: 10 });
}

const seo = {
    title: "Hacks",
    description:
        "Collection of hacks, configurations, functions, and other tips and tricks that I've personally found to be useful",
};

const { page } = Astro.props;
---

<Layout seo={seo}>
    <h1> Hacks </h1>
    <section class="postlist">
        {page.data.map((entry: any) => <HackPreview entry={entry} />)}
    </section>
    <Paginator page={page} />
</Layout>

