---
import Layout from "../../layouts/Page.astro";
import TagsUnique from "../../components/TagsUnique.astro";

const seo = {
    title: 'Tags',
    description: 'Collection of all tags on tjex.net'
    }
---

<Layout seo={seo}>
  <h1>Tags</h1>
  <TagsUnique />
</Layout>
