---
import Layout from "../layouts/Base.astro";
import Email from "../components/Email.astro"

const seo = {
    title: "404",
    description: "404. Nothing here",
    index: "none",
};
---

<div style="display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center;">
    <Layout seo={seo}>
        <div style="text-align: center;">
            <h1>404</h1>
            <p>zinger...</p>
            <p>Nothing here.</p>
            <p>
                If you think this is an error on my end, <br />
                please <Email text={"shoot me a quick email"} subject={"404 on tjex.net"} /> letting me know. Otherwise...
            </p>
            <a style="font-size: 3em;" href="/">Go Home</a>
        </div>
    </Layout>
</div>


