---
import Layout from "../layouts/Page.astro";

const seo = {
    title: "Contact",
    description:
        "Contact page for tjex (Tillman Jex). Software developer and creative technologist based in Berlin, Germany.",
};
---

<script src="../scripts/emailDecode.js"></script>

<Layout seo={seo}>
    <h1>contact</h1>
    <div class="grid">
        <div>
            <h5 style="color: var(--color)">Chat:</h5>
            <ul>
                <li><a id="denc" href="">tj<!--foo>-->ex@<!--bar \n-->tjex.<!--baz-->net</a></li>
                <li><a rel="me" href="https://fosstodon.org/@tjex">Mastodon</a></li>
                <li><a rel="me" href="https://www.linkedin.com/in/tillman-jex/">LinkedIn</a></li>
            </ul>
        </div>
        <div>
            <h5 style="color: var(--color)">Code:</h5>
            <ul>
                <li><a rel="me" href="https://github.com/tjex">GitHub</a></li>
                <li><a rel="me" href="https://sr.ht/~tjex">Sourcehut</a></li>
            </ul>
        </div>

        <div>
            <h5 style="color: var(--color)">Music:</h5>
            <ul>
                <li><a rel="me" href="https://tillmanjex.bandcamp.com/music">Bandcamp</a></li>
            </ul>
        </div>
    </div>
</Layout>
