---
import Layout from "../layouts/Page.astro";

const seo = {
    title: "Contact",
    description:
        "Contact page for tjex (Tillman Jex). Software developer and creative technologist based in Berlin, Germany.",
};
---

<script src="../scripts/emailDecode.js"></script>

<Layout seo={seo}>
    <h1>Contact</h1>

    Chat:
    <ul>
        <li>
            <a id="denc" href="">tjex @ [this domain]</a> •
            <a rel="me" href="/tjex_gpg.pub">(GPG)</a>
        </li>
        <li><a rel="me" href="https://fosstodon.org/@tjex">Mastodon</a></li>
        <li><a rel="me" href="https://matrix.to/#/@tjex:envs.net">Matrix (@tjex:envs.net)</a></li>
    </ul>

    Code:
    <ul>
        <li><a rel="me" href="https://github.com/tjex">GitHub</a></li>
        <li><a rel="me" href="https://sr.ht/~tjex">Sourcehut</a></li>
    </ul>

    Music:
    <ul>
        <li><a rel="me" href="https://tillmanjex.bandcamp.com/music">Bandcamp</a></li>
    </ul>
</Layout>
