---
import Layout from "../layouts/Page.astro";

const seo = {
    title: "Contact",
    description:
        "Contact page for tjex (Tillman Jex). Software developer and creative technologist based in Berlin, Germany.",
};
---

<script src="../scripts/emailDecode.js"></script>

<Layout {seo}>
    <h1>Contact</h1>
    <ul>
        <li><a rel="me" href="https://github.com/tjex">GitHub</a></li>
        <li><a rel="me" href="https://fosstodon.org/@tjex">Mastodon</a></li>
        <li><a id="denc" href="">tjex <!---complicated---> [at] <!---spam mitigation---> tjex.<!---technique--->net</a> </li>
        <li>GPG: <a rel="me" href="/tjex_gpg.pub">EF680971</a></li>
    </ul>
</Layout>
