---
import Layout from "../layouts/Page.astro";

const seo = {
  title: "home",
  description: "Home page for Tillman Jex, software developer and creative technologist based in Berlin, Germany."
  }
---

<Layout seo={seo} >
        <h1>hello</h1>
    <p> 
        I'm a programmer interested in decentralisation and FLOSS principals as 
        an effective antidote to social and
        technological problems. In my lifetime I would like to see a less
        surveillance and profit driven world emerge. Currently I'm
        finishing my masters degree in Creative Technologies / Computer Science
        between Berlin and Stockholm. 
    </p>
    <p> 
        Before a focus on programming, I was working in the arts / music industry as
        a <a rel="me" href="https://tillmanjex.bandcamp.com/music">producer of
        ambient music</a> and sound engineer. I was also the head engineer of 
        <a href="https://www.monomsound.com/">MONOM</a>, a 
        spatial audio studio in Berlin which saw my two loves of music and 
        technology come together and insighted me to focus on programming and 
        tech more seriously.
    </p>
    <p>
        I have a very broad range of interests and am hoping to present it all
        right here on this website in the form of
        project documentation, helpful bits I learn, some diaries and essays, etc. 
        Let's see. Like many a fallen internet voyager, I've tried
        blogging before, but I was considerably younger then. Other
        things gripped me at that time.
    </p>
</Layout>

