---
import Layout from "../layouts/Page.astro";
import { Image } from "astro:assets";
import profile from "../images/profile-square.jpg";

const seo = {
    title: "About",
    description:
        "About tjex (Tillman Jex), programmer and creative technologist from Melbourne, Australia. Currently living in Berlin, Germany.",
    image: "../images/profile-square.jpg",
};
---

<Layout seo={seo}>
    <h1>About</h1>
    <p>
        I've done many things, but now I code. I took a scenic route so to say. <br />
        Currently I'm writing my masters thesis on the mechanics behind the <a
            href="https://en.wikipedia.org/wiki/Zettelkasten">Zettelkasten system</a
        >, how these mechanics facilitate creative ideation, and what software solutions I can build to best support
        that process.<br />
    </p>
    <p>
        Before finding a home in programming, I was working in the arts / music industry as a <a
            rel="me"
            href="https://tillmanjex.bandcamp.com/music">producer of story music</a
        >, <a href="https://www.youtube.com/watch?v=hvmIbHW5AZc" rel="me">film composer</a>, and sound engineer. I was
        also the head engineer and studio manager of
        <a href="https://www.monomsound.com/">MONOM</a>, a state-of-the-art spatial audio studio in Berlin, which saw my
        two loves of music and technology come together and insighted me to investigate further by means of the above
        mentioned masters degree.
    </p>
    <p>
        I'm also a qualified remedial massage therapist who's worked on and off for over ten years between my private
        clinic, for professional sports teams, on yachts and in saunas.
    </p>
    <p>
        The purpose of outlining the above is that I believe innovation, furtile ideas and being an effective
        collaborator arrise from a broad set of lived experiences and trained skill sets. <br />
        These are qualities I actively try to foster.
    </p>
    <Image src={profile} width={profile.width / 4} alt={"Profile picture of Tillman Jex"} />
    <p style="text-align: center;"><br />Tillman Jex</p>
</Layout>
