---
import Layout from "../layouts/Page.astro";
import tjex from "../data/tjex.js";

const seo = {
    title: "About",
    description:
        "About tjex (Tillman Jex), programmer and creative technologist from Melbourne, Australia. Currently living in Berlin, Germany.",
    image: "../images/profile-square.jpg",
};
---

<Layout seo={seo}>
    <h1>about</h1>
    <h2>this site</h2>
    <p>
        My long term goal is to have a website that exists as an artefact of my personal, professional and creative
        selves. A place outside myself where they can intermingle in a more systematic way. Ideally, the result is
        interesting content for you, the reader. But please note, this site is as much for me, as it is for you.
    </p>
    <p>
        On this site, <b>internal</b> links <a href="/">look like this</a>, while <b>external</b> links <a
            >look like this</a
        >.
    </p>

    Time is measured in <a href="https://wiki.xxiivv.com/site/arvelie.html">Arvelie time</a>. Year 0 is 2020. <a
        href="/posts/why-use-the-arvelie-time-system">Why do this?</a
    >

    <h2>tjex : tillman jex</h2>
    <p>I've done many things, but now I code. I took a scenic route so to say.</p>
    <p>
        Currently I'm writing my masters thesis on the mechanics behind the <a
            href="https://en.wikipedia.org/wiki/Zettelkasten">Zettelkasten system</a
        >, how these mechanics facilitate creative ideation, and what software solutions I can build to best support
        that process. I'm also the core maintainer of the Zettelkasten note taking CLI tool, <a
            href="https://github.com/zk-org/zk">zk</a
        >.
    </p>
    <p>
        Before finding a home in programming, I was working in the arts / music industry as a <a
            rel="me"
            href=`${tjex.bandcamp}`>producer of story music</a
        >, <a href="https://www.youtube.com/watch?v=hvmIbHW5AZc" rel="me">film composer</a>, and sound engineer. I was
        also the head engineer and studio manager of
        <a href="https://www.monomsound.com/">MONOM</a>, a state-of-the-art spatial audio studio in Berlin, which saw my
        two loves of music and technology come together and insighted me to investigate further by means of the above
        mentioned masters degree.
    </p>
    <p>
        I'm also a qualified remedial massage therapist, which has seen me work for sporting teams, in clinics, on
        yachts and in luxury saunas. I train Jiu Jitsu and am working at becoming a better swimmer.
    </p>
</Layout>
