---
import Layout from "../layouts/Page.astro";

const seo = {
    title: "Home",
    description:
        "Home page for tjex (Tillman Jex), programmer, creative technologist and animated meat sack from Australia. Based in Berlin, Germany.",
    image: "../src/tjex-social-img.jpg",
};
---

<Layout seo={seo}>
    <h1>About</h1>
    <p>
        I've done many things, but now I code. I took a scenic route so to say. <br />
        Currently I'm writing my masters thesis on the mechanics behind the Zettelkasten method, how these mechanics facilitate
        creative ideation and what software solutions I can build to best support that creative ideation process.<br />
    </p>
    <p>
        Before finding a home in programming, I was working in the arts / music industry as a <a
            rel="me"
            href="https://tillmanjex.bandcamp.com/music">producer of story music</a
        >, <a href="https://www.youtube.com/watch?v=hvmIbHW5AZc" rel="me">film composer</a>, and sound engineer. I was
        also the head engineer and studio manager of
        <a href="https://www.monomsound.com/">MONOM</a>, a state-of-the-art spatial audio studio in Berlin, which saw my
        two loves of music and technology come together and insighted me to investigate further by means of the above
        mentioned masters degree.
    </p>
    <p>
        I'm also a qualified remedial massage therapist who's worked on and off for the last 10+ years in my private
        clinic, on yachts, for professional sports team and in luxury saunas.
    </p>
    <p>
        The purpose of outlining the above is that I believe innovation, furtile ideas and being an effective
        collaborator arrise from a broad set of lived experiences and trained skill sets. <br />
        These are qualities I actively try to foster.
    </p>
    <p>
        -- <br />
        Tillman Jex
    </p>
</Layout>
