---
import Layout from "../layouts/Page.astro";

const seo = {
  title: "Home",
  description:
    "Home page for tjex (Tillman Jex), programmer, creative technologist and animated meat sack from Australia. Based in Berlin, Germany.",
  image: "../src/tjex-social-img.jpg",
};
---

<Layout seo={seo}>
  <h1>Hello</h1>
  <p>
    This is Tillman Jex. I've done many things, but now I code. I took the scenic route, so to say. <br />
     Currently I'm nearing the end of my masters degree in Creative Technologies / Computer Science between Berlin and
    Stockholm. <br />
  </p>
  <p>
    Before finding my home in programming, I was working in the arts / music industry as a <a
      rel="me"
      href="https://tillmanjex.bandcamp.com/music">producer of story music</a
    >, <a href="https://www.youtube.com/watch?v=hvmIbHW5AZc" rel="me">film composer</a>, 
    and sound engineer. I was also
    the head engineer and studio manager of
    <a href="https://www.monomsound.com/">MONOM</a>, a state-of-the-art spatial audio studio in Berlin, which saw my two
    loves of music and technology come together and insighted me to investigate 
    further by means of the above mentioned masters degree. </p>
  <p>
    I'm also a qualified remedial massage therapist who's worked on and off for the last 10+ years in my private clinic,
    on yachts, for professional sports team and in luxury saunas.
  </p>
  <p>
    The purpose of outlining the above is that I believe innovation, furtile ideas and being an effective collaborator
    arrise from a broad set of lived experiences and trained skill sets. <br />
     This is a quality I actively try to foster; not just by learning new things, but by writing as well. This has so
    far only been taking place privately, but output should gradually start to materialise here on my <a href="/blog"
      >blog</a
    >.
  </p>
  <p>
    <a href="/rss.xml">RSS is available</a> for those who know of it. For those who don't, <a
      href="https://aboutfeeds.com/">here is some concise info.</a
    >
  </p>
</Layout>
