---
import Layout from "../layouts/Page.astro";

const seo = {
    title: "Home",
    description:
        "Home page for tjex (Tillman Jex), software developer, programmer and creative technologist based in Berlin, Germany.",
    image: "../src/tjex-social-img.jpg",
};
---

<Layout {seo}>
    <h1>hello</h1>
    <p>
        I'm Tillman Jex, a programmer and jack of many trades. Currently I'm finishing my masters degree in
        Creative Technologies / Computer Science between Berlin and Stockholm. <br>
    </p>
    <p>
        Before a focus on programming, I was working in the arts / music
        industry as a <a rel="me" href="https://tillmanjex.bandcamp.com/music"
            >producer of story music</a
        >,
        <a
            rel="me"
            href="https://vimeo.com/345958732?embedded=true&source=video_title&owner=17991259"
            >film music</a
        >, and sound engineer. I was also the head engineer of
        <a href="https://www.monomsound.com/">MONOM</a>, a spatial audio studio
        in Berlin, which saw my two loves of music and tech come together and
        insighted me to focus on programming and tech more seriously. <br>
        I'm also a qualified remedial massage therapist who's worked on and off for the last
        10+ years for professional sports teams, on yachts, in my private clinic and in luxury saunas.
    </p>
    <p>
        The purpose of outlining the above, is that I believe innovation and furtile ideas arrise from a
        broad set of lived experiences and trained skill sets; and this is a quality I actively try to foster. <br>
        I try to further this quality by writing as well. This has so far only been taking place privately,
        but output should gradually start to materialise here on my <a href="/blog">blog</a>. <br /> 
        RSS is available for those who know what's up. For those who don't, <a href="https://aboutfeeds.com/">read here</a>.
    </p>
</Layout>
