---
import Layout from "../layouts/Page.astro";

const seo = {
  title: "home",
  description: "Home page for Tillman Jex, software developer and creative technologist based in Berlin, Germany."
  }
---

<Layout seo={seo} >
        <h1>hello</h1>
    <p>
        Welcome to this little corner of the internet. <br> 
        I'm a late game convert to the world of programming and am currently finishing 
        my masters degree in Creative Technologies / Computer Science between Berlin / Stockholm.
    </p>
    <p> 
        Before this programming thing, I was working in the arts / music industry as
        a <a rel="me" href="https://tillmanjex.bandcamp.com/music">producer of
        ambient music</a> and sound engineer. I was the head engineer of 
        <a href="https://www.monomsound.com/">MONOM</a>, a 
        spatial audio studio in Berlin which saw my two loves of music and 
        technology come together and insighted me start to focus on programming and 
        tech more seriously.
    </p>
    <p>
        I have a very broad range of interests and am hoping to present it all, ideally until my death, right here 
        on my website in the form of project documentation and blogging. Let's see. 
        Like many a fallen internet voyager, I've tried to start a blog before,
        but that was when I was a lot younger. Other things gripped me at that time.
    </p>
    <p> tjex = tillman jex </p>
</Layout>

