---
import Layout from "../layouts/Page.astro";

const seo = {
    title: "License",
    description: "License for content on tjex.net",
    index: "none",
};
---

<Layout seo={seo}>
    <h1>License</h1>
    <p>
        All projects, project documentation, assets as well as blog posts on this website are licensed under Creative
        Commons <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">BY-NC-SA4.0</a>.
    </p>
</Layout>
