---
import Layout from "../layouts/Page.astro";

const seo = {
    title: "Privacy",
    description: "Privacy policy for tjex.net",
};
---

<Layout seo={seo}>
    <h1>privacy</h1>

    <p>
        I don't track your individual visits or interactions, nor do I collect any data from you personally. I do use
        Google Search Console to occasionally check that my sitemap and site is being indexed correctly, and to take
        care of any other such things that would create a disappointing search experience for us web citizens. The
        highest granularity I have is a sum of page views per country and the search queries from that country. You can
        read more <a href="https://www.activemind.legal/guides/google-search-console/" rel="nofollow">here</a>.
    </p>
    <p>In short, I have no idea that you (personally) are here, but I'm glad you are.</p>
    <p>
        Fact check my claims on <a href="https://themarkup.org/blacklight?url=tjex.net&device=desktop&location=eu">
            Blacklight.</a
        >
    </p>
</Layout>
