---
import Layout from "../layouts/Page.astro";

const seo = {
  title: "Privacy",
  description: "Privacy policy for tjex.net",
};
---

<Layout seo={seo}>
  <h1>Privacy</h1>

  <p>
  I don't track your visits or interactions, nor do I collect any data from you. <br> I have no idea you're here, 
  but I'm glad you are. 
  </p>
  <p>
    Fact check my claims on <a href="https://themarkup.org/blacklight?url=tjex.net&device=desktop&location=eu">
      Blacklight.</a
    >
  </p>
</Layout>
