---
import Layout from "../layouts/Page.astro";
import TagsUnique from "../components/TagsUnique.astro";
const seo = {
    title: "Tags",
    description: "Collection of all tags on tjex.net",
};
---

<Layout seo={seo}>
    <h1>tags</h1>
    <p>List of all tags used through blog posts.</p>
    <TagsUnique collection={"posts"} style={"pill"} />
</Layout>
