---
import Layout from "../../layouts/Page.astro";
import MediaLink from "../../components/MediaLink.astro";

const seo = {
    title: "Listening",
    description: "External link archive of what music I'm listening to",
    index: "nofollow"
};
---

<Layout {seo}>
    <h1>Listening List</h1>
    <p>
        Music tempers the soul. Society (increasingly) needs more of that. <br>
        Support it where you can: buy music, send money, subscribe, go to gigs and / or share music with others. <br />
        Newest additions first. 
    </p>

<div class="filterWrapper">
<div class="grid">
        <div>
            <MediaLink
                src={"https://sine-music.bandcamp.com/track/feel-love"}
                artist={"Sine"}
                work={"Feel Love"}
                genre={"chill out"}
                source={"bandcamp"}
            />
        </div>
</div>
<div class="grid">
        <div>
            <MediaLink
                src={"https://soundcloud.com/inverted-audio/ia-mix-365-jakojako"}
                artist={"Jako Jako"}
                work={"Inverted Audio - Mix"}
                genre={"techno"}
                source={"soundcloud"}
            />
        </div>
        <div>
            <MediaLink
                src={"https://musicforprogramming.net/"}
                artist={"musicforprogramming.net"}
                work={"(various mixes)"}
                genre={"ambient"}
                source={"website"}
            />
        </div>
</div>
<div class="grid">
        <div>
            <MediaLink
                src={"https://www.youtube.com/watch?v=IYHHUDqpeUQ"}
                artist={"Telepopmusik"}
                work={"Angel milk - Don't Look Back"}
                genre={"Electronic"}
                source={"Youtube"}
            />
        </div>
        <div>
            <MediaLink
                src={"https://www.nts.live/shows/red-laser-records/episodes/red-laser-records-w-starion-tommy-walker-iii-dj-absolutely-shit-metrodome-2nd-february-2020"}
                artist={"NTS"}
                work={"Red Laser Records: Starion, (...)"}
                genre={"Boogie"}
                source={"podcast"}
            />
        </div>
</div>
<div class="grid">
        <div>
            <MediaLink
                src={"https://somafm.com/groovesalad/"}
                artist={"Soma FM"}
                work={"Groove Salad"}
                genre={"ambient"}
                source={"radio"}
            />
        </div>
        <div>
            <MediaLink
                src={"https://robertrich.com/album/vestiges/"}
                artist={"Robert Rich"}
                work={"Vestiges"}
                genre={"ambient"}
                source={"bandcamp"}
            />
        </div>
        </div>
<div class="grid">
        <div>
            <MediaLink
                src={"https://murcofmusic.bandcamp.com/album/cosmos-2022-remaster"}
                artist={"Murcof"}
                work={"Cosmos"}
                genre={"ambient"}
                source={"bandcamp"}
            />
        </div>
        <div>
            <MediaLink
                src={"https://room40.bandcamp.com/album/glitter-in-my-tears"}
                artist={"Janek Schaefer"}
                work={"Glitter in my Tears"}
                genre={"ambient"}
                source={"bandcamp"}
            />
        </div>
        </div>
<div class="grid">
        <div>
            <MediaLink
                src={"https://iliantape.bandcamp.com/album/itx028-picture-in-picture"}
                artist={"nimu"}
                work={"Picture in Picture"}
                genre={"ambient"}
                source={"bandcamp"}
            />
        </div>
        <div>
            <MediaLink
                src={"https://www.youtube.com/watch?v=ZXJWO2FQ16c"}
                artist={"Steve Reich"}
                work={"Music for 18 Musicians"}
                genre={"neo-classical"}
                source={"youtube"}
            />
        </div>
</div>
<div class="grid">
        <div>
            <MediaLink
                src={"https://jonkennedy.bandcamp.com/album/corporeal-lp"}
                artist={"Jon Kennedy"}
                work={"Corporeal"}
                genre={"trip-hop"}
                source={"bandcamp"}
            />
        </div>
        <div>
            <MediaLink
                src={"https://www.youtube.com/playlist?list=OLAK5uy_m64aE84r9H7rUZtaK7GmjtGxpGmfC42L0"}
                artist={"Groove Armada"}
                work={"Goodbye Country (Hello Nightclub)"}
                genre={"trip-hop"}
                source={"youtube"}
            />
        </div>
</div>
<div class="grid">
        <div>
            <MediaLink
                src={"https://iliantape.bandcamp.com/album/itlp04-compro"}
                artist={"Skee Mask"}
                work={"Compro"}
                genre={"electronic"}
                source={"bandcamp"}
            />
        </div>
        <div>
            <MediaLink
                src={"https://www.youtube.com/watch?v=OOWEY4MGzM8&list=OLAK5uy_kog7h-Mfv5sc02JhwsXqQOHlFtyTTeu-s&index=8"}
                artist={"Underworld"}
                work={"dubnobasswithmyheadman"}
                genre={"electronic"}
                source={"youtube"}
            />
        </div>
</div>
        
    </Layout
>
</div>
