---
import Layout from "../../layouts/Page.astro";
import MediaLink from "../../components/MediaLink.astro";

const seo = {
    title: "Listening List",
    description: "External link archive of music I'm listening to",
    index: "nofollow"
};
---

<Layout {seo}>
    <h1>Listening List</h1>
    <p>
        Music tempers the soul. Society (increasingly) needs more of that. <br
        />
         Support it where you can: buy music, send money, subscribe, go to gigs
        and / or share music with others. <br />
         Newest additions first. "Genres" left out on purpose to aid in
        unexpected discovery ;~) <br />
         If you like the general flavours of the below list, you can find more
        on my <a href="https://bandcamp.com/tillman-jex">bandcamp fan page</a>.
    </p>

    <div class="filterWrapper">
        <div class="grid">
                <MediaLink
                    src={"https://elinpiel.bandcamp.com/album/ingrid-linnea"}
                    artist={"Elin Piel"}
                    work={"Ingrid Linnea"}
                    genre={"Electronic"}
                    style={"Ambient"}
                    source={"Bandcamp"}
                />
                <MediaLink
                    src={"https://biosphere.bandcamp.com/album/dropsonde-reissue-with-bonus-album"}
                    artist={"Biosphere"}
                    work={"Dropsonde"}
                    genre={"Electronic"}
                    style={"Ambient"}
                    source={"Bandcamp"}
                />
        </div>
        <div class="grid">
                <MediaLink
                    src={"https://aleksiperala.bandcamp.com/album/gaia-5"}
                    artist={"Aleksi Perälä"}
                    work={"GAIA 5"}
                    genre={"Electronic"}
                    style={"Ambient"}
                    source={"Bandcamp"}
                />
                <MediaLink
                    src={"https://sine-music.bandcamp.com/track/feel-love"}
                    artist={"Sine"}
                    work={"Feel Love"}
                    genre={"Electronic"}
                    style={"Chill Out"}
                    source={"Bandcamp"}
                />
        </div>
        <div class="grid">
                <MediaLink
                    src={"https://soundcloud.com/inverted-audio/ia-mix-365-jakojako"}
                    artist={"Jako Jako"}
                    work={"Inverted Audio - Mix"}
                    genre={"Electronic"}
                    style={"Techno"}
                    source={"Soundcloud"}
                />
                <MediaLink
                    src={"https://musicforprogramming.net/"}
                    artist={"musicforprogramming.net"}
                    work={"(various mixes)"}
                    genre={"Electronic"}
                    style={"Ambient"}
                    source={"Website"}
                />
        </div>
        <div class="grid">
                <MediaLink
                    src={"https://www.youtube.com/watch?v=IYHHUDqpeUQ"}
                    artist={"Telepopmusik"}
                    work={"Angel milk - Don't Look Back"}
                    genre={"Electronic"}
                    style={"Chill Out"}
                    source={"Youtube"}
                />
                <MediaLink
                    src={"https://www.nts.live/shows/red-laser-records/episodes/red-laser-records-w-starion-tommy-walker-iii-dj-absolutely-shit-metrodome-2nd-february-2020"}
                    artist={"NTS"}
                    work={"Red Laser Records: Starion, (...)"}
                    genre={"Electronic"}
                    style={"Boogie"}
                    source={"Podcast"}
                />
        </div>
        <div class="grid">
                <MediaLink
                    src={"https://somafm.com/groovesalad/"}
                    artist={"Soma FM"}
                    work={"Groove Salad"}
                    genre={"Electronic"}
                    genre={"Various"}
                    source={"Online Radio"}
                />
                <MediaLink
                    src={"https://robertrich.com/album/vestiges/"}
                    artist={"Robert Rich"}
                    work={"Vestiges"}
                    genre={"Electronic"}
                    style={"Ambient"}
                    source={"Bandcamp"}
                />
        </div>
        <div class="grid">
                <MediaLink
                    src={"https://murcofmusic.bandcamp.com/album/cosmos-2022-remaster"}
                    artist={"Murcof"}
                    work={"Cosmos"}
                    genre={"Electronic"}
                    style={"Ambient"}
                    source={"Bandcamp"}
                />
                <MediaLink
                    src={"https://room40.bandcamp.com/album/glitter-in-my-tears"}
                    artist={"Janek Schaefer"}
                    work={"Glitter in my Tears"}
                    genre={"Electronic"}
                    style={"Ambient"}
                    source={"Bandcamp"}
                />
        </div>
        <div class="grid">
                <MediaLink
                    src={"https://iliantape.bandcamp.com/album/itx028-picture-in-picture"}
                    artist={"nimu"}
                    work={"Picture in Picture"}
                    genre={"Electronic"}
                    style={"Ambient"}
                    source={"Bandcamp"}
                />
                <MediaLink
                    src={"https://www.youtube.com/watch?v=ZXJWO2FQ16c"}
                    artist={"Steve Reich"}
                    work={"Music for 18 Musicians"}
                    genre={"Classical"}
                    style={"Contemporary"}
                    source={"Youtube"}
                />
        </div>
        <div class="grid">
                <MediaLink
                    src={"https://jonkennedy.bandcamp.com/album/corporeal-lp"}
                    artist={"Jon Kennedy"}
                    work={"Corporeal"}
                    genre={"Electronic"}
                    style={"Trip-hop"}
                    source={"Bandcamp"}
                />
                <MediaLink
                    src={"https://www.youtube.com/playlist?list=OLAK5uy_m64aE84r9H7rUZtaK7GmjtGxpGmfC42L0"}
                    artist={"Groove Armada"}
                    work={"Goodbye Country (Hello Nightclub)"}
                    genre={"Electronic"}
                    style={"Trip-hop"}
                    source={"Youtube"}
                />
        </div>
        <div class="grid">
                <MediaLink
                    src={"https://iliantape.bandcamp.com/album/itlp04-compro"}
                    artist={"Skee Mask"}
                    work={"Compro"}
                    genre={"Electronic"}
                    style={"Breakbeat"}
                    source={"Bandcamp"}
                />
                <MediaLink
                    src={"https://www.youtube.com/watch?v=OOWEY4MGzM8&list=OLAK5uy_kog7h-Mfv5sc02JhwsXqQOHlFtyTTeu-s&index=8"}
                    artist={"Underworld"}
                    work={"dubnobasswithmyheadman"}
                    genre={"Electronic"}
                    style={"Abstract"}
                    source={"Youtube"}
                />
        </div>
    </div>
</Layout>
