---
import Layout from "../../layouts/Page.astro";

const seo = {
  title: "Listening",
  description: "Archive of what I'm listening to",
};
---

<Layout seo={seo}>
    <h1> Listening List </h1>
    <p> Music is key.<br>
    Newest edition at the top. </p>

    <ul>
    <li> <a href="https://iliantape.bandcamp.com/album/itlp04-compro">Skee Mask - Compro</a> </li>
    <li> <a href="https://www.youtube.com/watch?v=OOWEY4MGzM8&list=OLAK5uy_kog7h-Mfv5sc02JhwsXqQOHlFtyTTeu-s&index=8">Underworld - dubnobasswithmyheadman</a> </li>
    <ul>

</Layout>
