---
// post preview component for contact filed as "Blog"
import "../styles/snippets/contentPreview.css";
export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<article>
  <a class="preview-title" href={`/blog/${post.slug}`}>
    {post.title}
  </a>
  <p class="description">{post.description}</p>
</article>
