---
// entry preview component for contact filed as "Blog"
import "../styles/snippets/entryPreview.css";
export interface Props {
    entry: any;
}

const { entry } = Astro.props;
---

<article class="entry-preview">
    <a href={`/blog/${entry.slug}`}>
        <h1 class="title">{entry.title}</h1>
    </a>
    <p class="description">{entry.description}</p>
</article>

