---
---

<div class="footer">
    <a href="https://tjex.net/rss.xml">RSS</a>
    ~ Privacy policy: I don't collect any private data from you 
    ~ Built with <a href="https://astro.build">Astro</a> and <a href="https://picocss.com">Pico CSS</a> 
</div>
