---
---

<div class="footer">
    Privacy policy: I don't collect any private data from you <br>
    Built with <a href="https://astro.build">Astro</a> and <a href="https://picocss.com">Pico CSS</a> ~ Code
    available <a rel=me href="https://github.com/tjex/tjex.net">here</a>.
</div>
