---
---

<div class="footer">
    Built with <a href="https://astro.build">Astro</a> and <a href="https://picocss.com">Pico CSS</a> ~ Privacy policy: I don't collect any private data from you.
</div>
