---
// entry preview component for content filed under "Hacks"
import "../styles/snippets/entryPreview.css";

export interface Props {
    entry: any;
}

const { entry } = Astro.props;
---

<article>
    <a href={`/hacks/${entry.slug}`}>
        <h1 class="title">{entry.title} </h1>
        <span class="secondary">{entry.description}</span>
    </a>
</article>
