---
// entry preview component for contact filed as "Hacks"
import "../styles/snippets/entryPreview.css";
import Tags from "../components/Tags.astro";

export interface Props {
    entry: any;
}

const { entry } = Astro.props;
---

<article>
    <a href={`/hacks/${entry.slug}`}>
        <h1 class="title">{entry.title}</h1>
    </a>
    <p class="description">{entry.description}</p>
    <Tags tags={entry.tags} />
</article>
