---
import Tags from "../components/Tags.astro";

export interface Props {
    hack: any;
}

const { hack } = Astro.props;
---

<article class="post-preview">
    <a href={`/hacks/${hack.slug}`}>
        <h1 class="title">{hack.title}</h1>
    </a>
    <p class="description">{hack.description}</p>
    <Tags tags={hack.tags} />
</article>

<!-- TODO: refactor the css as a compontnet as it's used by postPreview as well-->
<style>
    a {
        text-decoration: none;
    }

    a:hover > .title {
        text-decoration: underline;
    }

    .post-main__img {
        width: 100%;
        max-width: 600px;
        height: auto;
        margin-bottom: 1rem;
    }

    .title,
    .author,
    .publish-date {
        margin: 0;
    }

    .pub-date,
    .author {
        font-size: 0.8rem;
        color: var(--secondary);
    }

    .title {
        font-size: 1rem;
        font-weight: 700;
        color: var(--theme-text);
    }

    .description {
        color: var(--secondary);
    }
</style>
