---

---

<div class="header-right">
    <nav>
        <ul>
            <a style="color: var(--muted);" class="nav-link" href="/">about</a>
            <a style="color: var(--muted);" class="nav-link divider">:</a>
            <a style="color: var(--muted);" class="nav-link" href="/contact">contact</a>
        </ul>
    </nav>
</div>
