---

---

<div class="header-right">
    <ul>
        <a style="color: var(--muted);" class="nav-link" href="/">about</a>
        <a style="color: var(--muted);" class="nav-link">:</a>
        <a style="color: var(--muted);" class="nav-link" href="/contact">contact</a>
    </ul>
</div>
