---

---

<div class="header-left">
  <a class="site-heading" href="/">tjex</a>
</div>
<style>
  .site-heading {
    display: inline-flex;
    text-decoration: none;
    color: var(--primary);
    font-size: 4rem;
    font-weight: 700;
  }

  .site-heading:before {
    content: ":";
    margin-right: 15px;
  }
</style>
