---

---

<aside class="header-right">
    <nav>
            <a style="color: var(--muted);" class="nav-link" href="/">about</a>
            <span style="color: var(--muted);" class="link-divider">:</span>
            <a style="color: var(--muted);" class="nav-link" href="/contact">contact</a>
    </nav>
</aside>
