---
// insert html depending on license

const { license } = Astro.props;
---

{
  license == "cc" || license == "CC" ? (
      <a
        href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1"
        target="_blank"
        rel="license noopener noreferrer"
      >
        CC BY 4.0
      </a>
  ) : license == "mit" || license == "MIT" ? (
      <a href="https://mit-license.org/" target="_blank" rel="noopener noreferrer">
        MIT
      </a>
  ) : null
}
