---
const { nextPost, prevPost } = Astro.props;
---

<hr />
{
    (
        <div class="neighbourPost">
            {prevPost.data && (
                <a class="prevPost" href={`/blog/${prevPost.slug}`}>
                    {prevPost.data.title}
                </a>
            )}
            {nextPost.data && (
                <a class="nextPost" href={`/blog/${nextPost.slug}`}>
                    {nextPost.data.title}
                </a>
            )}
        </div>
    )
}
