---
// post preview component for contact filed as "Blog"
import "../styles/snippets/contentPreview.css";
import Date from "./utility/DateFormat.astro";
export interface Props {
    post: any;
    collection: string;
}

const { post, collection } = Astro.props;
---

<!-- Inserts a link to the post as a new row in the encapsulating table where this component is called -->
<article>
    <tbody>
        <tr>
            <td>
                <span class="pub-date">
                    <Date date={post.pubDate} format={"MY"} /> :
                </span>
                <a class="preview-title" href={`/${collection}/${post.slug}`}>
                    {post.title}
                </a>
            </td>
        </tr>
    </tbody>
</article>
