---
// post preview component for contact filed as "Blog"
export interface Props {
    post: any;
    collection: string;
}

const { post } = Astro.props;
---

<!-- Inserts a link to the post as a new row in the encapsulating table where this component is called -->
<tr class="content-list">
    <td>
        <span class="pub-date"> {post.arve} :</span>
        <a href={`/${post.collection}/${post.slug}`}>
            {post.title}
        </a>
    </td>
</tr>
