---
// this component takes information about projects and formats them visually.

const { src, title, description, lang, project } = Astro.props;
---

<article>
  <a href={`${src}`}> {project}</a><br />
  <p class="description">
    {description}
    <br />
    <span class="muted" style="font-style: italic;"
      >&#10149;
      <!-- Ommit comma from last item -->
      {
        lang.map((l, index) => (
          <span>
            {" "}
            {l} {index !== lang.length - 1 && ", "}{" "}
          </span>
        ))
      }
    </span>
  </p>
</article>
