---
// this component takes information about projects and formats them visually.
import "../styles/snippets/contentPreview.css";

const { src, title, description, lang, project } = Astro.props;
---

<div class="media-link">
  <h5>
    <a href={`${src}`}>
      {project}
    </a>
    <br />
  </h5>
  <span> {description}</span>
  <br />
  {
    lang ? (
      <span class="secondary" style="font-style: italic;">
        &#10149; language: {lang}
      </span>
    ) : (
      ""
    )
  }
</div>
