---
// this component takes information about projects and formats them visually.
import "../styles/snippets/contentPreview.css";

const { src, title, description, lang, project } = Astro.props;
---

<article>
  <a class="preview-title" href={`${src}`}> {project}</a>
  <span class="description"> ( {lang} )</span><br />
  <p class="description">{description}</p>
</article>
