---
// this is the base component for the LEFT sidebar on PAGES
// it's wrapped in the <aside> attribute, which is part of the flex layout of the site.
---

<aside class="aside sidebar-left">
  <nav class="site-nav">
    <ul>
      <li><a class="nav-link" href="/blog">blog</a></li>
      <li><a class="nav-link" href="/hacks">hacks</a></li>
      <li><a class="nav-link" href="/projects">projects</a></li>
      <li><a class="nav-link" href="/listening">listening</a></li>
      <li><a class="nav-link" href="/contact">contact</a></li>
    </ul>
  </nav>
</aside>

<style>

.site-nav,
.site-nav a {
  color: var(--primary);
  font-size: 1.3rem;
  text-decoration: none;
  /* margin-left: 50px; */
}

.site-nav a:after {
    content: " •";
}

.site-nav a:hover {
    text-decoration: underline;
}
</style>
