---
// this is the base component for the LEFT sidebar on PAGES
// it's wrapped in the <aside> attribute, which is part of the flex layout of the site.
import ThemeToggle from "./ui/ThemeToggle.astro";
---

<aside class="aside sidebar-left">
    <ThemeToggle />
    <nav class="nav-left">
        <ul>
            <li><a class="nav-link" href="/posts">posts</a></li>
            <li><a class="nav-link" href="/projects">projects</a></li>
            <li><a class="nav-link" href="/listening">listening</a></li>
            <!-- <li><a class="nav-link" href="/contact">contact</a></li> -->
            <!-- <li><a class="nav-link" href="/">about</a></li> -->
        </ul>
    </nav>
</aside>
