---

---

<nav><a class="nav-link" href="/contact">contact •</a></nav>
<nav><a class="nav-link" href="/projects">projects •</a></nav>
<nav><a class="nav-link" href="/blog">blog •</a></nav>
<nav><a class="nav-link" href="/hacks">hacks •</a></nav>
<nav><a class="nav-link" href="/listening">listening •</a></nav>

