---
---

<p class='nav-items'><a href="/blog">blog | </a></p>
<p class='nav-items'><a href="/contact">contact | </a></p>

<style>
.nav-items {
        padding-left: var(--nav-link-spacing-horizontal);
        padding-right: var(--nav-link-spacing-horizontal);
    }
</style>

