---
// takes the tags from post frontmatter and makes a href from their slug.
// used in posts primarily in the info line
const { tags, style } = Astro.props;
---

{
  style == "pill"
    ? tags.map((tag: any) => (
        <a class="tag" href={`/tags/${tag}`}>
          {tag}
        </a>
      ))
    : style == "text"
      ? tags.map((tag, index) => (
            <a href={`/tags/${tag}`}>{tag}</a>
            <span>{index !== tags.length - 1 && ", "}</span>
        ))
      : null
}
