---
import * as getBlog from "./utility/getBlog.js";
import * as getHacks from "./utility/getHacks.js";

const posts = await getBlog.noDrafts();
const hacks = await getHacks.noDrafts();
const postsTags = [...new Set(posts.map((post) => post.data.tags).flat())];
const hacksTags = [...new Set(hacks.map((hack) => hack.data.tags).flat())];
---

<h3>From <a href="/blog">Blog</a></h3>
<p>
{
    postsTags.map((tag) => (
        <a class="tag" href={`/tags/${tag}`}>
            {tag}
        </a>
    ))
}
</p>
<h3>From <a href="/hacks">Hacks</a></h3>
<p>
{
    hacksTags.map((tag) => (
        <a class="tag" href={`/tags/${tag}`}>
            {tag}
        </a>
    ))
}
</p>
