---
// takes the tags from post frontmatter and makes a href from their slug.
// used in posts primarily in the info line
const { tags } = Astro.props;
---

{ tags.map((tag: any) => ( <a class="tag" href={`/tags/${tag}`}>{tag}</a> )) }
