---
import * as getBlog from "./utility/getBlog.js";

const blog = await getBlog.noDrafts();
const uniqueTags = [...new Set(blog.map((post) => post.data.tags).flat())];
---

{
    uniqueTags.map((tag) => (
        <ul>
            <li>
                <a class="tag" href={`/tags/${tag}`}>
                    {tag}
                </a>
            </li>
        </ul>
    ))
}
