---
import * as colUtil from "../scripts/collectionUtil.ts";

const { collection } = Astro.props;

const posts = await colUtil.noDrafts(collection);
const tags = [...new Set(posts.map((post: any) => post.data.tags).flat())];
---

<p>
{
    tags.map((tag) => (
        <a class="tag" href={`/tags/${tag}`}>
            {tag}
        </a>
    ))
}
</p>
