/**
 * Callouts
 */


.note {
    background: var(--note);
}

.warning {
    background: var(--warning);
}

.danger {
    background: var(--danger);
}

.callout {
    display: block;
    border: solid;
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    margin: var(--spacing);
    background-color: var(--code-background-color);
    color: var(--color);
}

.callout-title {
    padding-left: var(--spacing);
    padding-right: var(--spacing);
    color: var(--contrast-inverse);
}

.callout-content {
    padding-left: var(--spacing);
    padding-right: var(--spacing);
}

// note
.callout-note {
    border-color: var(--note);
}


// warn
.callout-warning {
    border-color: var(--warning);
}

// danger
.callout-danger {
    border-color: var(--danger);
}

