/**
 * Callouts
 */


.callout {
    display: block;
    border: solid;
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    margin: var(--spacing);
    background-color: var(--code-background-color);
    color: var(--color);
}

.callout-title {
    display: flex;
    align-items: center;
    padding-left: var(--spacing);
    padding-right: var(--spacing);
    color: var(--contrast-inverse);
}

.callout-content {
    padding-left: var(--spacing);
    padding-right: var(--spacing);
}

// note
.callout-note {
    @extend .callout;
    border-color: var(--note);
}

.callout-note-title {
    @extend .callout-title;
    background: var(--note);
    &:before {
        content: var(--icon-note);
        padding-right: 0.5rem;
    }
}

// warn
.callout-warning {
    @extend .callout;
    border-color: var(--warning);
}

.callout-warning-title {
    @extend .callout-title;
    background: var(--warning);
    &:before {
        content: var(--icon-warning);
        padding-right: 0.5rem;
    }
}

// danger
.callout-danger {
    @extend .callout;
    border-color: var(--danger);
}

.callout-danger-title  {
    @extend .callout-title;
    background: var(--danger);
    &:before {
        content: var(--icon-danger);
    }
}


