// Typography

// Small
small {
  --font-size: var(--font-small);
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  --font-weight: 700;
}

h1 {
  --font-size: 2rem;
  --typography-spacing-vertical: 3rem;
}

h2 {
  --font-size: 1.75rem;
  --typography-spacing-vertical: 2.625rem;
}

h3 {
  --font-size: 1.5rem;
  --typography-spacing-vertical: 2.25rem;
}

h4 {
  --font-size: 1.25rem;
  --typography-spacing-vertical: 1.874rem;
}

h5 {
  --font-size: 1.125rem;
  --typography-spacing-vertical: 1.6875rem;
}

// finer grained <a> link classes
.site-nav,
.site-nav a {
  color: var(--primary) !important;
  font-size: 1.3rem;
  --text-decoration: none !important;
}

.site-nav a:after {
    content: " •";
}

.pill-link a {
  color: var(--primary);
  text-decoration: none;
  margin: 0.4em;
  border: none;
  border-radius: 0.3em;
  padding: 0.2em 0.8em;
  background-color: var(--secondary-focus);
  transition: var(--transition);
}

.pill-link a:hover,
.pill-link a:focus {
  background-color: var(--secondary-hover);
}

.tag,
.tag a {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 400; /* e.g. tags in heading or emboldened phrase */
  text-decoration: none;
  margin: 0.2em 0.3em;
  border: none;
  border-radius: 0.3em;
  padding: 0.1em 0.8em;
  background-color: var(--secondary-focus);
  color: var(--muted) !important;
}

