// Forms elements
[type="checkbox"],
[type="radio"] {
  --border-width: 2px;
}

[type="checkbox"][role="switch"] {
  --border-width: 3px;
}

// Table
thead,
tfoot {
  th,
  td {
    --border-width: 3px;
  }
}

:not(thead, tfoot) > * > td {
  --font-size: 0.875em;
}

@media screen and (max-width: 769px) {
  .postlist {
    grid-template-columns: 1fr;
  }
}

body::-webkit-scrollbar {
  width: 0.6em;
}
body::-webkit-scrollbar-track {
  background: var(--code-background-color);
}
body::-webkit-scrollbar-thumb {
  background: var(--muted-color);
}
