/**
 * Structures
 * divs and other structural element styling
 */

.media-link {
    padding-bottom: var(--spacing);
    // background: #000000;
}

// for divs that display page infrormation such as author and date
.post-info, 
.post-info a {
    color: #{$grey-400};
    text-align: right;
    margin-bottom: var(--block-spacing-vertical);
    font-size: var(--font-small);
}
