---
import ArticleSchema from '../components/ArticleSchema.astro';

import Layout from './Base.astro';
import SideLeftPage from '../components/SideLeftPage.astro';
import SideRightBlank from '../components/SideRightBlank.astro';
import Header from '../components/Header.astro';
import Tags from "../components/Tags.astro";

const { seo } = Astro.props;
const { post } = Astro.props;
---

<!-- double check all of this, seo and article schema input -->
<Layout seo={seo}>
  <Fragment slot="head-bottom">
  <ArticleSchema {...post}  />
 </Fragment>
 <Header slot="header" />
 <SideLeftPage slot="side-left"/>
    <article class="post-content__article">
      <h1>{post.data.title}</h1>
      <div class="post-info">
      <Tags tags={post.data.tags} /><time>{post.data.pubDate}</time>
      </div>
      <slot />
    </article>
  <SideRightBlank slot="side-right" />
</Layout>

