a:hover {
  text-decoration: underline;
  text-decoration-thickness: var(--text-decoration-thickness);
}

.preview-title,
.author,
.publish-date {
  margin: 0;
}

.preview-title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary);
  text-decoration: none;
}

.pub-date,
.author {
  font-size: var(--font-small);
  color: var(--secondary);
  text-align: right;
}

.description {
  color: var(--secondary);
}

.content-preview {
  padding-bottom: var(--spacing);
}

